@import 'config';

.cfg-desc {
  min-height: calc(100vh - 120px - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;

  &__pointer {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate-pointer 500ms ease-in-out infinite alternate;
    margin: 4rem 4rem 0 4rem;
    cursor: pointer;
  }

  &__pointer-img {
    width: 100px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: var(--color-secondary, #9c9f9c);
    padding: 0.375rem 1.33rem;
    font-family: var(--font-primary, 'sans-serif');
    font-size: var(--font-medium, 1rem);
    background-color: #292929;
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &__btn:before {
    content: '';
    background: linear-gradient(
      45deg,
      #557459,
      #518256,
      #38e249,
      #54de62,
      #54de62,
      #38e249,
      #518256,
      #557459
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    animation: glowing 4s linear infinite;
    border-radius: 3px;
    opacity: 1;
  }

  &__btn::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    left: 0;
    top: 0;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
  }

  &__btn:hover::after {
    background-color: var(--color-primary);
  }

  &__btn:hover {
    color: black;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300% 0;
  }
}
