@import 'config';

.footer-wrapper {
  background-color: #0d0d0d;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1600px;
  margin: auto;

  &__copyright {
    text-align: center;
  }

  &__contact {
    text-align: center;
  }
}
