@import 'config';

.general-info {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text {
    text-align: center;
  }

  &__desc {
    background-color: #0a0a0a;
    padding: 1rem;
    border-radius: 10px;
  }
}

[data-png='true'] {
  background-image: url('../Pictures/school-mobile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    display: none;
  }
}
